<header class="top1">
  <div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      &nbsp;&nbsp;
      <i style="font-size: 40px" class="fas fa-shipping-fast"> </i>
      &nbsp;
      <strong style="font-size: 25px">Apna Cart</strong>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Search Products" />
      </div>
      <span class="fas fa-search search-icon"></span>
    </div>
    <button routerLink="cart" class="btn btn-primary">
      <i style="font-size: 25px" class="fas fa-cart-plus"></i>
      <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
    </button>
  </div>
</header>
