.card-top{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: white;
    background-clip: border-box;
    border: 1px solid black;
    border-radius: .25rem;
}
.item{
    text-align: center;
    margin: 3px 10px;
    cursor: pointer;
}
.item a{
    text-decoration: none;
    color: black;
}
.item a:hover{
    color: blue;
}
.card{
    padding: 20px;
}
.card img{
    width: 180px;
    height: 180px;
    margin: 10px 10px;
    transition: 0.3s ease-in-out;
}
.card img:hover{
    transform: scale(1.1);
}