<div class="mainImg">
  <img
    style="width: max-content"
    src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg"
    alt="HandBag"
  />
</div>
<div class="updateCart">
  <h1>{{ productList[0].title }}</h1>
  <div class="updateItem">
    Update Cart
    <button class="btn btn-success" (click)="increase()">
      <i class="fas fa-plus"></i>
    </button>
    <span style="padding:10px;">{{ currentItem }}</span>
    <button class="btn btn-danger" (click)="decrease()">
      <i class="fas fa-minus"></i>
    </button>
    <span>
      <i
        style="font-size: 2rem; color: rgb(201, 57, 57)"
        class="fas fa-heart"
      ></i>
    </span>
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis
    cupiditate excepturi adipisci minima optio. Rerum error totam ratione, natus
    alias voluptate fuga sint, quod tenetur debitis amet provident non vel
    aperiam facilis, saepe voluptatibus earum reprehenderit molestias
    consequatur id. Recusandae beatae eaque asperiores itaque cum, porro
    veritatis est, quos ipsum, saepe placeat quia. Nisi, hic tempora commodi
    sequi repellendus similique voluptas esse ducimus rem, possimus eveniet
    dolor consectetur velit. Soluta aperiam iusto similique delectus sunt
    reiciendis cum labore, consequatur itaque perferendis! Dolores eveniet
    quidem at nostrum, error eaque magnam, ad suscipit maxime sed facere
    obcaecati, laudantium saepe corporis consequatur molestiae delectus autem
    beatae doloremque provident ea? Atque accusamus, pariatur ab modi deserunt
    eaque veniam dolore cum reprehenderit natus sit odio, blanditiis vero, harum
    voluptatibus amet libero! Facilis nobis saepe molestiae earum ducimus, fugit
    sit aliquid eligendi tempore deleniti magnam autem natus ut ad officiis quos
    in, itaque architecto, consequatur aut voluptas quis placeat blanditiis?
    Suscipit minima repellendus nulla aut dolor esse neque incidunt aliquid,
    asperiores in commodi pariatur porro dolores. Error mollitia dolores ut
    asperiores ex dolor debitis, molestias voluptas expedita soluta, et
    inventore. Sequi ut pariatur odio hic corporis consequuntur magni eius et
    eum totam est voluptates voluptate facilis quos atque, fugit molestias
    consectetur fuga sint ullam repellendus ipsum provident eos? Aut, commodi!
    Cumque, ex qui error exercitationem sequi suscipit nesciunt ut optio enim
    facere laboriosam ipsam quasi aliquam perferendis ullam sapiente dignissimos
    reiciendis eum molestiae esse. Tempore ab doloremque deleniti, adipisci
    quidem nam distinctio quos. Sapiente sit ea autem beatae enim, fuga natus
    itaque? Recusandae distinctio voluptas perspiciatis, placeat quisquam
    numquam facere ipsa iste, dolore ab, culpa omnis! Omnis eaque, soluta
    facilis ea sint, laborum dolor debitis natus voluptatem, perspiciatis
    corrupti ad eligendi ipsa commodi enim dolorem laudantium accusamus nobis.
    Commodi officia iure consectetur dicta necessitatibus, a sit odio ex
    perspiciatis dolor debitis reprehenderit voluptatem fugit libero quibusdam
    fuga. Nihil eum ducimus nostrum ipsum, molestiae at ratione. At doloribus
    autem cupiditate animi amet expedita! Voluptate nihil dolorum aliquam.
    Incidunt libero, ipsa voluptatem sint repellat facilis voluptatibus rerum
    minus nostrum praesentium eum maxime ea ratione dolor in omnis delectus
    expedita exercitationem distinctio quaerat est ex? Voluptatibus libero
    dolorum expedita, perferendis asperiores velit recusandae ipsa nesciunt
    voluptate deleniti delectus quisquam corporis deserunt odit. Ad, tempora
    provident culpa amet voluptatum, dolorem repellendus asperiores rerum labore
    officiis nulla autem sit architecto minus animi laboriosam voluptatibus sunt
    suscipit eveniet ducimus non officia quos!
  </p>
</div>
<div class="container updateCart"></div>
